# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Trained models and logs
logs/
runs/
ppo_hex_game*
*.zip

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini